{
  "swagger": "2.0",
  "info": {
    "title": "Spell Check API - V5",
    "version": "1.0"
  },
  "host": "api.cognitive.microsoft.com",
  "basePath": "/bing/v5.0/spellcheck",
  "schemes": [
    "https"
  ],
  "paths": {
    "/": {
      "post": {
        "operationId": "Spell Check",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of spellcheck:\n<ul><li>Proof - Meant to provide Office Word like spelling corrections. It can correct long queries, provide casing corrections and suppresses aggressive corrections.</li>\n<li>Spell - Meant to provide Search engine like spelling corrections. It will correct small queries(up to length 9 tokens) without any casing changes and will be more optimized (perf and relevance) towards search like queries.</li></ul>\n",
            "type": "string",
            "enum": [
              "spell",
              "proof"
            ]
          },
          {
            "name": "mkt",
            "in": "query",
            "description": "For proof mode, only support en-us, es-es, pt-br,\nFor spell mode, support all language codes.",
            "type": "string",
            "enum": [
              "en-us",
              "es-es",
              "pt-br"
            ]
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": {
                "_type": "SpellCheck",
                "flaggedTokens": [
                  {
                    "offset": 5,
                    "token": "Gatas",
                    "type": "UnknownToken",
                    "suggestions": [
                      {
                        "suggestion": "Gates",
                        "score": 1
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "<table class=\"element table\">\n            <thead>\n            <tr><th>Error Code</th><th>Description</th></tr>\n            </thead>\n            <tbody>\n            <tr><td>RequestParameterMissing</td><td>Required parameter is missing.</td></tr>\n            <tr><td>RequestParameterInvalidValue</td><td>Parameter has invalid value.Current text length is longer than allowed maximum(10240).</td></tr>\n            </tbody>\n            </table>\n          "
          },
          "401": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2.12 days."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      },
      "get": {
        "operationId": "Spell  Check",
        "parameters": [
          {
            "name": "mode",
            "in": "query",
            "description": "Mode of spellcheck:\n<ul><li>Proof - Meant to provide Office Word like spelling corrections. It can correct long queries, provide casing corrections and suppresses aggressive corrections.</li>\n<li>Spell - Meant to provide Search engine like spelling corrections. It will correct small queries(up to length 9 tokens) without any casing changes and will be more optimized (perf and relevance) towards search like queries.</li></ul>\n",
            "type": "string",
            "enum": [
              "spell",
              "proof"
            ]
          },
          {
            "name": "text",
            "in": "query",
            "description": "The text string to check for spelling and grammar errors.",
            "required": true,
            "type": "string",
            "default": "Bill Gatas",
            "enum": [
              "Bill Gatas"
            ]
          },
          {
            "name": "preContextText",
            "in": "query",
            "description": "A string that gives context to the text string. For example, the text string petal is valid; however, if you set preContextText to bike, the context changes and the text string becomes not valid. In this case, the API will suggest that you change petal to pedal (as in bike pedal).",
            "type": "string"
          },
          {
            "name": "postContextText",
            "in": "query",
            "description": "A string that gives context to the text string. For example, the text string read is valid; however, if you set postContextText to carpet, the context changes and the text string becomes not valid. In this case, the API will suggest that you change read to red (as in red carpet).",
            "type": "string"
          },
          {
            "name": "mkt",
            "in": "query",
            "description": "For proof mode, only support en-us, es-es, pt-br,\nFor spell mode, support all language codes.",
            "type": "string",
            "enum": [
              "en-us",
              "es-es",
              "pt-br"
            ]
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "application/json": {
                "_type": "SpellCheck",
                "flaggedTokens": [
                  {
                    "offset": 5,
                    "token": "Gatas",
                    "type": "UnknownToken",
                    "suggestions": [
                      {
                        "suggestion": "Gates",
                        "score": 1
                      }
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "<table class=\"element table\">\n            <thead>\n            <tr><th>Error Code</th><th>Description</th></tr>\n            </thead>\n            <tbody>\n            <tr><td>RequestParameterMissing</td><td>Required parameter is missing.</td></tr>\n            <tr><td>RequestParameterInvalidValue</td><td>Parameter has invalid value.Current text length is longer than allowed maximum(10240).</td></tr>\n            </tbody>\n            </table>\n          "
          },
          "401": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 401,
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 403,
                  "message": "Out of call volume quota. Quota will be replenished in 2.12 days."
                }
              }
            }
          },
          "429": {
            "description": "",
            "examples": {
              "application/json": {
                "error": {
                  "statusCode": 429,
                  "message": "Rate limit is exceeded. Try again in 26 seconds."
                }
              }
            }
          }
        },
        "produces": [
          "application/json"
        ]
      }
    }
  }
}